/*Edits the ENTIRE html page*/

body
{
background-color:#000000;
max-width: 1152px;
margin-left: auto;
margin-right: auto;
}

hr
{
size:2;
border-color:#FF6600;
}


/*EDITS HEADER -- EDITS HEADER --*/

#header
{
font-family:papyrus;
text-align:center;
font-size:45pt;
word-spacing:-10px;
}

#header span.lime
{
color:#00FF00;
font-style:italic;
}

#header span.support
{
color:#FF00FF;
}

#header span.tm
{
font-size:9px;
vertical-align:super;
color:#FFFFFF;
}

/*END HEADER -- END HEADER --*/

/*-------------LINKS----------*/
a:link
{
color:#FFFFFF;
font-size:12px;
font-weight:bold;
text-decoration:none;
text-align:center;
font-family:papyrus;
cursor:pointer;
}

a:visited
{
color:#FFFFFF;  
}

a:hover
{
color:#FF00FF;
font-size:12px;
font-weight:bold;
text-decoration:none;
text-align:center;
font-family:papyrus;
}
/*NO A:ACTIVE*/

/*-------------LINKS----------*/


.row
{
padding: 0px 10px;
display:inline-block;
}

.col1
{
color:#FF00FF;
font-size:25px;
width: 120px;
display:inline-block;

}

.links
{
vertical-align:middle;
border-style:dotted;
border-color:#00FF00;
border-width:2px;
padding:10px;
margin: 5px 5px 5px 5px;
display:inline-block;
}

.links img
{
height: 130px;
width: 130px;
}





/*------ROW1------*/


.wordbar
{
display:inline-block;
vertical-align:middle;
border-color:#00FF00;
margin-left:10px;
}

/*------ROW2------*//*------ROW2------*/

/*
.links
{
display:inline-block;
vertical-align:middle;
margin-right:10.3px;
border-style:dotted;
border-color:#00FF00;
border-width:2px;
padding:10px;
}
*/
/*------ROW3------*//*------ROW3------*/
/*
#row3
{
margin-left:127.3px;
padding-top:15px;
}
*/

/* --- END LINKS --- */

/* LIME LOGO */
#parent #littlelime 
{
font-family:papyrus;
text-align:center;
font-size:.9em;
word-spacing:-2px;
margin:0px;// /*unnecessary*/
}
#parent #littlelime span.lime
{
color:#00FF00;
font-style:italic;
}
#parent #littlelime span.support
{
color:#FF00FF;
}
#parent #littlelime span.tm
{
font-size:6px;
vertical-align:50%;
color:#FFFFFF;
}
#parent #littlelime span.pipe
{
color:#FFFFFF;
margin-left:4px;
margin-right:7px;
}

/* Google Logo */
#google
{
font-size:1.0em;
letter-spacing:-1.4pt;
}
#google span.g
{
color:#3369E8;
}
#google span.o1
{
color:#D50F25;
}
#google span.o2
{
color:#EEB211;
}
#google span.l
{
color:#009939;
}
#google span.e
{
color:#D50F25;
}

#dictionary span.dict
{
color:#FFFFFF;
font-style:italic;
}



/****

*****END PAGE BODY*****

***BEGIN PAGE FOOTER***

!!!!!!!!*/

footer{
color:#FFFFFF;
font-size:10px;
text-align:center;
}
/*
#tm{
font-size:6px;
vertical-align:50%;
color:#FFFFFF;
}
*/






/*

@media screen and (max-width: 992px) {

body {
	background-color: #00FF00;
}



}*/
/*end @media max-width 992px; for tablet*/







/*    PHONE SIZE    */

@media screen and (max-width: 828px) {

body {
	background-color: #FF00FF;
	width: 100%;

}

.col1
{
display: none;
}

.rows
{
display: block;
align-content: center;
}

.row1
{
width: 100%;
}

.wordbar
{
display: none;
}

.links
{
vertical-align:middle;
border-style:dotted;
border-color:#00FF00;
border-width:2px;
padding:10px 10px;
margin: 5px 5px 5px 0px;
display: inline-block;
}


}/*end @media max-width 600px; for phones*/




