/*Edits the ENTIRE html page*/
body
{
background-color:#000000;

}

/*Edits <p class="limsupportheader">*/
.limesupportheader
{
font-family:papyrus;
text-align:center;text-align:top;
font-size:3.5em;
margin:25px;
}

a:link
{
color:#FFFFFF;
font-size:.9em;
font-weight:bold;
text-decoration:none;
text-align:center;
font-family:papyrus;
cursor:pointer;


}

a:visited
{
color:#FFFFFF;  
}

a:hover
{
color:#FF00FF;

font-size:.95em;
font-weight:bold;
text-decoration:none;
text-align:center;
font-family:papyrus;
}

/*NO A:ACTIVE*/

.tablelink
{
font-size:1.5em;
text-align:center;
border:2px dotted #00FF00;
width:150px;
height:150px;
vertical-align:middle;
border-spacing: 50px 0;


}




    
/*!!!!!! 

END PAGE HEADER

BEGIN NEW PAGE WORK !!!!!!!*/











/****

*****END PAGE BODY*****

***BEGIN PAGE FOOTER***

!!!!!!!!*/

.footer
{
color:#FFFFFF;text-align:center;font-size:.6em;
}













